#menu
{
        border-bottom : 1px solid #9EA0A1;
        padding-bottom : 53px;
}


#onglets
{
        position : absolute;
        border : 1px solid transparent;
        padding : 0;
        font : bold 25px Batang, arial, serif;
        list-style-type : none;
        left : 50%;
        margin-top : 0;
        width : 680px;
        margin-left : -340px; /* la moitié de width */

}



#onglets li
{
    float : left;
    height : 49px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
}
